/* BASICS */

* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}
h1{
    margin: 0;
}
body {
    /* background:rgb(88, 87, 85); */
    margin: 0;
    height: 100vh;
}
select,button{
    cursor: pointer;
}

nav, footer {
    background-color: dimgray;
}

footer {
    height: 250px;
}


small {
    margin: 0 auto;
}

canvas {
    background: url('../graphics/transperant-background.svg') 0% 0%/16px;
    outline: solid #bbb;
}

/* LAYOUT */

.img-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: max-content;
    gap: 10px;
    padding: 0 10px 0;
    width: 100%;
}

/* COMPONENTS */

.logo {
    margin-inline-start: 0.5em;
    font-family: kaushan-script;
    text-transform: capitalize;
    color: tomato;
    font-size: 4rem;
}

.logo span {
    color: red;
    font-family: karate;
    text-transform: uppercase;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-list>* {
    /* background-color: hotpink; */
    /* border: 1px solid indigo; */
    border-radius: 5px;
    padding: 0.1em;
    font-size: 1.7rem;
    margin-inline-start: 1em;
}

.nav-list {
    color: #fff;
}

.toggle-nav {
    margin: auto;
    /* margin-inline-start: 3em; */
    padding: 0.1rem 0.25rem;
    background: none;
    border: 3px solid #1e1e1e;
    border-radius: 0.2rem;
    height: 60px;
    min-width: 70px;
    background: url('../graphics/wiki-hamburger.svg') center no-repeat;
    background-size: contain;
    display: none;
}

.toggle-nav:hover {
    border: 4px solid #1e1e1e;
}

.toggle-nav:active {
    background-color: lightgray;
}

/* PRE-EDITOR */

.trending-kewords {
    height: 100px;
}

/* EDITOR */

.flex.editor {
    display: none;
    max-width: 90vw;
    margin: 0 auto;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    background-color: #efefef;
    align-items: center;
    height: 650px;
}

.save-modal {
    display: none;
}

.save{
    grid-area: 5/3;
    /* background-color: unset; */
    background: url('../graphics/download.svg') no-repeat center;
}
.save.webp{
    grid-area: 5/5;
    /* background-color: unset; */
    background: url('../graphics/download.svg') no-repeat center;
}
.save.png{
    grid-area: 5/6;
    /* background-color: unset; */
    background: url('../graphics/download.svg') no-repeat center;
}
.save.jpg{
    grid-area: 5/7;
    /* background-color: unset; */
    background: url('../graphics/download.svg') no-repeat center;
}


.add {
    background: url('../graphics/plus.svg') no-repeat center;
    background-size: contain;
    grid-area: 2/6/span 1 /span 2;
}

.delete {
    background: url('../graphics/trash-alt.svg') no-repeat center;
    background-size: contain;
    grid-area: 2/10;
}

.prev {
	background: url('../graphics/angle-left.svg') no-repeat center;
	background-size: contain;
	grid-area: 2/1;
}
.next {
    background: url('../graphics/angle-right.svg') no-repeat center;
    background-size: contain;
    grid-area: 2/3;
}


.control {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 25px;
    max-width: 600px;
}
/* .control select,.control option{
    background-color:peachpuff;
} */

.control * {
    height: 50px;
    min-width: 50px;
    border-radius: 5px;
    font-size: 2rem;
    padding: 0;
}

.control button{
    border: none;
}

.control [type="text"] {
    grid-area: 1/span 10;
    margin-top: 1rem;
    height: 3rem;
    font-size: 1.5rem;
    width: 100%;
    /* background-color: lightcyan; */
}
/* .control select{
    background-color: lightcyan;
} */
.control .font {
    width: max-content;
    grid-area: 4/span 4;
}
.text-align {
	grid-area: 3 / 3 /span 1 /span 4;
}
.control input[name="font-size"] {
    /* background-color: lightcyan; */
    width: 60px;
    grid-area: 3/9;
}
.control [type="color"]{
    cursor: pointer;
}
.control input[name="fill"] {
    grid-area: 4/10;
}
.control input[name="stroke"] {
    grid-area: 4/8;
}


.control option[value="left"]::after {
    content: url('../graphics/align-left.svg');
}

.control option.align-center::before {
    content: 'center';
}

.control option.align-right::before {
    content: 'right';
}

.control .font option[value="sans-serif"] {
    font-family: sans-serif;
}

.control .font option[value="impact"] {
    font-family: impact;
}

.control .font option[value="sans-serif"] {
    font-family: sans-serif;
}

.control .font option[value="Arial"] {
    font-family: arial;
}

.control .font option[value="serif"] {
    font-family: serif;
}

.control .font option[value="arabolic"] {
    font-family: arabolic;
}

.control .font option[value="waltograph"] {
    font-family: waltograph;
}

.control .font option[value="vodka"] {
    font-family: vodka;
}

.control .font option[value="propaganda"] {
    font-family: propaganda;
}

.control .font option[value="killigrew"] {
    font-family: killigrew;
}

.control .font option[value="kaushan-script"] {
    font-family: kaushan-script;
}

.control .font option[value="karate"] {
    font-family: karate;
}

.control .font option[value="ben-zion"] {
    font-family: ben-zion;
}

/* Main content */

.img-container>img {
    object-fit: cover;
    width: 100%;
    align-self: stretch;
}

/* HELPERS */

/* flex-helpers */

.flex {
    display: flex;
}

.flex.justify-center {
    justify-content: center;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.space-around {
    justify-content: space-around;
}

.flex.align-center {
    align-items: center;
}

/* List helpers */

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* grid-helpers */

.grid {
    display: grid;
}

/*---------Font Family-------------*/

@font-face {
    font-family: arabolic;
    src: url('../fonts/arabolical/ARABOLIC.ttf');
}

@font-face {
    font-family: ben-zion;
    src: url('../fonts/ben_zion/benzion.ttf');
    /* add variations */
}

@font-face {
    font-family: karate;
    src: url('../fonts/karate/Karate.ttf');
}

@font-face {
    font-family: kaushan-script;
    src: url('../fonts/Kaushan_Script/KaushanScript-Regular.ttf');
}

@font-face {
    font-family: killigrew;
    src: url('../fonts/killigrew/Killig.ttf');
}

@font-face {
    font-family: propaganda;
    src: url('../fonts/propaganda/propaganda.ttf');
}

@font-face {
    font-family: vodka;
    src: url('../fonts/vodka/vodka.ttf');
}

@font-face {
    font-family: waltograph;
    src: url('../fonts/waltograph/waltograph42.otf');
}