/* BASICS */

* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    margin: 0;
    height: 100vh;
}

nav {
    background-color: #666;
}

canvas {
    background: url('../graphics/transperant-background.svg') 0% 0%/16px;
}

/* LAYOUT */

.img-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    margin: 0 10px 0;
    width: 100%;
}

/* COMPONENTS */

.logo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list>* {
    background-color: hotpink;
    border: 1px solid indigo;
    font-size: 1.7rem;
    margin-inline-start: 1em;
}

.nav-list a {
    color: #fff;
}

.toggle-nav {
    padding: 0.1rem 0.25rem;
    background: none;
    border: 1.5px solid #1e1e1e;
    border-radius: 0.2rem;
    display: none;
}

.toggle-nav::before {
    content: url('../graphics/wiki-hamburger.svg');
}
.control{
    /* display: grid;
    grid-template-areas: "text text text text text"
                        "prev next add del "
                        "size size size font font"
                        "l c r fill stroke"
    ; */
    max-width: 1000px;
}

.control>:not([type="text"]) {
    /* background-color: hotpink; */
    height: 50px;
    min-width: min-content;
    width: 50px;
    border-radius: 5px;
    font-size: 2rem;
    padding: 0;
/* background-color: ; */
}

.control>[type="text"] {
    margin-top: 1rem;
    background-color: hotpink;
    height: 3rem;
    font-size: 1.5rem;
    width: 50%;
}

.control .font {
    width: max-content;
}

/* PRE-EDITOR */

.trending-kewords {
    height: 100px;
}

/* EDITOR */

.flex.editor {
    display: none;
}

.save-modal {
    display: none;
}

/* .add::before {
    content: url('../graphics/plus.svg') ;
} */

/* .delete::before {
    content: url('../graphics/trash-alt.svg');
} */

/* .prev::before {
    content: url('../graphics/angle-left.svg');
}

.next::before {
    content: url('../graphics/angle-right.svg') ;
}

*/

.save::before {
    content: '💾';
}

.add {
    background: url('../graphics/plus.svg') no-repeat center;
}

.delete {
    background: url('../graphics/trash-alt.svg') no-repeat center;
}

.prev {
    background: url('../graphics/angle-left.svg') no-repeat center;
}

.next {
    background: url('../graphics/angle-right.svg') no-repeat center;
}

/* .save {
    background: '💾';
} */

.control option[value="left"]::after {
    content: url('../graphics/align-left.svg');
}

.control option.align-center::before {
    content: 'center';
}

.control option.align-right::before {
    content: 'right';
}

.control .font option[value="sans-serif"] {
    font-family: sans-serif;
}

.control .font option[value="impact"] {
    font-family: impact;
}

.control .font option[value="sans-serif"] {
    font-family: sans-serif;
}

.control .font option[value="Arial"] {
    font-family: arial;
}

.control .font option[value="serif"] {
    font-family: serif;
}

.control .font option[value="arabolic"] {
    font-family: arabolic;
}

.control .font option[value="waltograph"] {
    font-family: waltograph;
}

.control .font option[value="vodka"] {
    font-family: vodka;
}

.control .font option[value="propaganda"] {
    font-family: propaganda;
}

.control .font option[value="killigrew"] {
    font-family: killigrew;
}

.control .font option[value="kaushan-script"] {
    font-family: kaushan-script;
}

.control .font option[value="karate"] {
    font-family: karate;
}

.control .font option[value="ben-zion"] {
    font-family: ben-zion;
}

/* Main content */

.img-container>img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* HELPERS */

/* flex-helpers */

.flex {
    display: flex;
}

.flex.justify-center {
    justify-content: center;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.space-around {
    justify-content: space-around;
}

.flex.align-center {
    align-items: center;
}

/* List helpers */

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* grid-helpers */

.grid {
    display: grid;
}

/*---------Font Family-------------*/

@font-face {
    font-family: arabolic;
    src: url('../fonts/arabolical/ARABOLIC.ttf');
}

@font-face {
    font-family: ben-zion;
    src: url('../fonts/ben_zion/benzion.ttf');
    /* add variations */
}

@font-face {
    font-family: karate;
    src: url('../fonts/karate/Karate.ttf');
}

@font-face {
    font-family: kaushan-script;
    src: url('../fonts/Kaushan_Script/KaushanScript-Regular.ttf');
}

@font-face {
    font-family: killigrew;
    src: url('../fonts/killigrew/Killig.ttf');
}

@font-face {
    font-family: propaganda;
    src: url('../fonts/propaganda/propaganda.ttf');
}

@font-face {
    font-family: vodka;
    src: url('../fonts/vodka/vodka.ttf');
}

@font-face {
    font-family: waltograph;
    src: url('../fonts/waltograph/waltograph42.otf');
}